@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s ease;
    font-family: "Montserrat", sans-serif;
}

body {
    background-image: url(tsa7_trialbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 900px;
    gap: 10px;
}

.control-panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 13px;
}

.flex-container {
    display: flex;
    gap: 10px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.411);
}

.box {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: bold;
    border-radius: 13px;
}

#box1 {
    color: rgb(226, 247, 255);
    background-color: #63a9d9;
    border: 2px solid #a2c9e4;
}

#box2 {
    color: #ffe0fd;
    background-color: #e96fa6;
    border: 2px solid pink;
}

#box3 {
    color: #f4eafd;
    background-color: #a47cc6;
    border: 2px solid rgb(213, 182, 243);
}

.val {
    text-align: center;
    padding: 8px;
    width: 100%;
}

/* START NG PAG-FORMAT SA BUTTON */

.btn {
    display: inline-block;
    padding: 0.5rem 2rem;
    margin: 0.01em 0.1em 0;
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: white;
    text-shadow: 0 0.04em 0.4em rgba(0, 0, 0, 0.35);
    text-align: center;
}

.btn:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.one {
    background-color: #C4BFE6;
    color: #332877;
}

.two {
    background-color: #FFBAD2;
    color: #80314c;
}

.three {
    background-color: #C1E7C5;
    color: #245028;
}

.four {
    background-color: #a7d6ff;
    color: #205c91;
}

.five {
    background-color: #fcf6a0;
    color: #887f04;
}

/* START NG FORMATTING SA NUMBER INPUT */

.purple:focus {
    color: #212529;
    background-color: #C4BFE6;
    border-color: 86b7fe;
}

.yellow:focus {
    color: #212529;
    background-color: #fcf6a0;
    border-color: 86b7fe;
}
