@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-image: url(brown_bg.jpg);
    background-size: cover;
    text-align: center;
    font-family: "Raleway";
    font-size: 24px;
}

img{
    height: 100px;
}
.heading{
    font-size:50px;
}

.subheading{
    font-size: 30px;
}

.tour{
    font-weight: bolder;
}

.info{
    font-weight: bold;
}

.add{
    color: red;
}
